<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<i th:text="${message}"></i>

<form action="/login/check" method="post">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
    />
    <p>Username: <input name="username"/></p>
    <p>Password: <input name="password" type="password"/></p>
    <p><input name="remember-me" type="checkbox"/> Remember me?</p>
    <p>
        <button>Login</button>
    </p>
    <a href="/oauth2/authorization/google">Google</a>
</form>
</body>
</html>
