<div th:fragment="userInfo">
  <div th:switch="${@auth.authenticated}">
    <ul th:case="true">
      <li>Username: <b>[[${@auth.username}]]</b></li>
      <li>Roles: <b th:text="${@auth.roles}"></b></li>
      <li>
        <form th:action="@{/logout}" method="post" style="display: inline">
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <button type="submit">Sign-out</button>
        </form>
      </li>
      <li th:if="${@auth.hasAnyRole('ADMIN')}">
        <a href="#">Goto Administration</a>
      </li>
    </ul>

    <ul th:case="false">
      <li>Bạn chưa đăng nhập</li>
    </ul>
  </div>
</div>
